<div class="modal-header">
  <h5 class="modal-title"><%= @selected_date.strftime("%m/%d (%a)") if @selected_date %></h5>
  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
</div>
<div class="modal-body">
  <% if @schedules.empty? %>
    <p>No exercises scheduled for this day.</p>
    <button class="btn btn-primary" onclick="window.location.href='/exercises'">Add</button>
  <% else %>
    <table class="table">
      <% @schedules.each do |schedule| %>
        <tr>
          <td><%= schedule.exercise.name %></td>
          <td><%= schedule.repetitions %> reps</td>
          <td><%= schedule.sets %> sets</td>
          <td>
            <button class="btn btn-secondary" data-bs-toggle="modal" data-bs-target="#editModal-<%= schedule.id %>">Edit</button>
            <button class="btn btn-danger" data-bs-dismiss="modal" data-schedule-id="<%= schedule.id %>">Delete</button>
          </td>
        </tr>
      <% end %>
    </table>
    <% if @schedules.size < 3 %>
      <button class="btn btn-primary" onclick="window.location.href='/exercises'">Add</button>
    <% end %>
  <% end %>
</div>