<div class="calendar-header">
  <%= image_tag @calendar.image.thumb.url, class: 'calendar-image' if @calendar.image.present? %>
  <h1>Calendars#show</h1>
</div>

<%= content_tag :div, class: "simple-calendar #{session[:calendar_color]}" do %>
  <%= month_calendar events: @events do |date, events| %>
    <div class="calendar-date"><%= date.day %></div>
    <div class="event-list">
      <% events.each do |event| %>
        <div class="event-item"><%= event.title %></div>
      <% end %>
    </div>
  <% end %>
<% end %>

<div id="schedule-modal" class="modal">
  <div class="modal-content">
    <span class="close">&times;</span>
    <div id="schedule-details"></div>
  </div>
</div>
