<div class="calendar-header">
  <h1>Calendars#show</h1>
</div>

<div class="calendar-header">
  <% if @customize.present? && @customize.image.present? %>
    <%= image_tag @customize.image.url, class: 'calendar-image' %>
  <% else %>
    <p>No image available</p>
  <% end %>
</div>

<%= content_tag :div, class: "simple-calendar #{session[:calendar_color]}" do %>
  <%= month_calendar events: @events do |date, events| %>
    <div class="calendar-date">
      <%= link_to date.day, new_calendar_schedule_path(calendar_id: @calendar.id), class: 'date-link' %>
    </div>
    <div class="event-list">
      <% events.each do |event| %>
        <div class="event-item">
          <%= link_to event.exercise.name, calendar_schedule_path(@calendar, event), class: 'exercise-link' %>
        </div>
      <% end %>
    </div>
  <% end %>
<% end %>
