<%= content_tag :div, class: "simple-calendar #{session[:calendar_color]}" do %>
  <%= month_calendar events: @events do |date, events| %>
    <div class="calendar-date" data-date="<%= date %>" data-calendar-id="<%= @calendar.id %>">
      <%= link_to date.day, "#", class: 'date-link', data: { bs_toggle: 'modal', bs_target: '#scheduleModal' } %>
    </div>
    <div class="event-list">
      <% events.each do |event| %>
        <div class="event-item">
          <%= link_to event.exercise.name, calendar_schedule_path(@calendar, event), class: 'exercise-link' %>
        </div>
      <% end %>
    </div>
  <% end %>
<% end %>

<!-- スケジュールモーダル -->
<%= render 'schedules/schedule_modal' %>

<!-- 編集モーダル -->
<%= render 'schedules/edit_modal' %>
