<div class="calendar-header">
  <h1>Calendars#show</h1>
</div>

<div class="calendar-header">
  <% if @customize.present? && @customize.image.present? %>
    <%= image_tag @customize.image.url, class: 'calendar-image' %>
  <% else %>
    <p>No image available</p>
  <% end %>
</div>

<%= content_tag :div, class: "simple-calendar #{session[:calendar_color]}" do %>
  <%= month_calendar events: @events do |date, events| %>
    <div class="calendar-date">
      <%= link_to date.day, new_schedule_path(date: date, calendar_id: @calendar.id), class: 'date-link' %>
    </div>
    <div class="event-list">
      <% events.each do |event| %>
        <div class="event-item"><%= event.title %></div>
      <% end %>
    </div>
  <% end %>
<% end %>

<div id="schedule-modal" class="modal">
  <div class="modal-content">
    <span class="close">&times;</span>
    <div id="schedule-details"></div>
  </div>
</div>