<tr>
  <td><%= exercise.name %></td>
  <td><%= exercise.description %></td>
  <td><%= exercise.duration %></td>
  <td><%= exercise.difficulty %></td>
  <td><%= link_to 'View', exercise_path(exercise) %></td>
</tr>