<h1>Exercise List</h1>

<%= form_with url: exercises_path, method: :get, local: true do %>
  <div data-controller="autocomplete">
    <input type="text" name="q" data-autocomplete-target="input" placeholder="Search exercises...">
    <button type="submit">Search</button>
  </div>
<% end %>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Description</th>
      <th>Duration</th>
      <th>Difficulty</th>
    </tr>
  </thead>
  <tbody>
    <% @exercises.each do |exercise| %>
      <tr>
        <td><%= exercise.name %></td>
        <td><%= exercise.description %></td>
        <td><%= exercise.duration %></td>
        <td><%= exercise.difficulty %></td>
      </tr>
    <% end %>
  </tbody>
</table>