<div class="exercise-detail">
  <h1>
    <%= @exercise.name %>
    <%= render 'exercises/bookmark', exercise: @exercise %>
  </h1>
  <p><strong>Difficulty:</strong> <%= @exercise.difficulty %> / 5</p>
  <p><strong>Minimum Reps/Distance:</strong> <%= @exercise.minimum_reps_or_distance %> <%= @exercise.is_cardio? ? 'm' : 'reps' %></p>
  <p><strong>Target Muscles:</strong> <%= @exercise.target_muscles %></p>
  <p><strong>Description:</strong> <%= @exercise.description %></p>

  <%= link_to 'Back to Exercise List', exercises_path, class: "btn btn-primary" %>
  <%= link_to 'Add to Schedule', '#', class: "btn btn-success", data: { bs_toggle: "modal", bs_target: "#scheduleModal" } %>

  <!-- モーダル部分を読み込む -->
  <%= render 'schedule_modal', exercise: @exercise %>
</div>