<!DOCTYPE html>
<html>
  <head>
    <title>OsinotameniYasetai</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <!-- Bootstrap CSS -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  
    <!-- Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
  </head>

  <body>

  <% unless controller_name == 'calendars' && action_name == 'new' %>
    <%= render 'layouts/header' %>
    <%= render 'layouts/sidebar' %>
  <% end %>

    <div class="content">
      <%= yield %>
      <footer>
        <ul>
          <li><%= link_to t('links.privacy_policy'), privacy_policy_path %></li>
          <li><%= link_to t('links.terms_of_service'), terms_of_service_path %></li>
        </ul>
      </footer>
    </div>
  </body>
</html>
