<!DOCTYPE html>
<html>
  <head>
    <title>OsinotameniYasetai</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

  <% unless controller_name == 'home' && action_name == 'index' %>
    <%= render 'layouts/header' %>
    <%= render 'layouts/sidebar' %>
  <% end %>

  <div class="content">
    <%= yield %>
    <footer>
      <ul>
        <li><%= link_to t('links.privacy_policy'), privacy_policy_path %></li>
        <li><%= link_to t('links.terms_of_service'), terms_of_service_path %></li>
      </ul>
    </footer>
  </div>

  </body>
</html>
